body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E2F8F6;
    text-align: center;
    margin: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.button-container {
    text-align: center; /* Centra los botones horizontalmente */
}

.btn {
    display: inline-block; /* Coloca los botones uno al lado del otro */
    background-color: #AEE7B4; /* Color de fondo */
    color: #000000; /* Color de texto */
    padding: 20px; /* Espaciado interior */
    border: none; /* Quita los bordes */
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
}

.btn:hover {
  transform: translateY(-5px); /* Efecto de flotación al pasar el ratón por encima */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón por encima */
}
